<div class="post-item">
	<h3>
		<a href="{{post.link}}">{{post.title}}</a>
	</h3>
</div>

<div class="metabox">
	{% include "/components/posts/post-infos.twig" %}
</div>

<div class="generic-content">
	{{post.preview.length(18).read_more(false)}}

	<p>
		<a class="btn btn--blue" href="{{post.link}}">Continue readling</a>
	</p>
</div>

